* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-transform: uppercase;
    touch-action: manipulation;
}

:root {
    --dark-bg: #131313;

    --light-text: #FFFFFF;
    --dark-text: #CCCCCC;

    --light-red: #E04D4E;
    --dark-red: #6F2526;

    --light-green: #58E04D;
    --dark-green: #306F25;

    --light-grey: #6C6C6C;
    --dark-grey: #3C3C3C;
}

@font-face {
    font-family: myFont;
    src: url(pricedown.ttf);
}

html{
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--dark-bg);
    color: var(--light-text);
}

textarea, input { 
    outline: none; 
}

.seperator {
    width: 225px;
    border-bottom: 1px solid var(--dark-red);
    margin: 15px 0 15px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    opacity: 0.85;
}


.info-box {
    width: 450px;
    border: 3px solid var(--light-red);
    height: 80px;

    margin: 15px 0 15px 0;
}

.square {
    width: 15px;
    height: 15px;
    background-color: var(--light-red);

    margin-left: 10px;
}

.title {
    background-color: var(--dark-red);
    display: flex;
    align-items: center;
    height: 30px;
    width: 444px;
    position: relative;
}

.title-text {
    margin-left: 10px;
}

.info {
    display: flex;
    align-items: center;
    height: 50px;
}

.info-text {
    margin-left: 10px;
}

.player { 
    width: 220px;
}

.player-title {
    width: 214px;
}

.earnings { 
    height: 50px;
    border: 2px solid var(--light-green);
}

.inactive {
    opacity: 0.35;
}

.player-1-btn {
    background: none;
    border: none;

    color: var(--light-text);
}

.player-2-btn {
    background: none;
    border: none;

    color: var(--light-text);
}

.reset-btn {
    height: 30px;
    width: 110px;

    margin-top: 25px;

    background: var(--dark-red);
    border: 2px solid var(--light-red);

    color: var(--light-text);
}

.next-btn { 
    height: 50px;
    width: 140px;

    background: var(--dark-red);
    border: 2px solid var(--light-red);

    color: var(--light-text);

}

.next-btn:hover { 
    background: var(--light-red);
    border: 2px solid var(--dark-red);
}

.edit-btn {
    height: 30px;
    width: 110px;

    margin: 15px 0 25px 0;

    background: var(--dark-grey);
    border: 2px solid var(--light-grey);

    color: var(--light-text);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 225px;
    border: 2px solid var(--light-red);
    margin-top: 20px;
    height: 55px;
}
label {
    background: var(--dark-red);
    display: block;
    padding: 4px;
    font-size: 14px;
}

input {
    background: none;
    border: none;
    color: var(--light-text);
    margin-left: 10px;
    width: 80%;
    height: 42px;
}

.done-btn {
    height: 30px;
    width: 100px;

    margin-top: 15px;
    margin-bottom: 30px;

    background: var(--dark-red);
    border: 2px solid var(--light-red);

    color: var(--light-text);
}

.hidden { 
    display: none;
}

.player-one-active { 
    margin-top: -20px;

    position: absolute;
}

.player-two-active {
    margin-top: -20px;

    position: absolute;
}

.instructions {
    font-size: 10px;
    opacity: 0.7;
}

.next-host-rounds {
    display: flex;
    align-items: center;

    margin-top: 25px;
    gap: 5px;
}

.counter {
    height: 50px;
    width: 72.5px;

    background: var(--dark-grey);
    border: 2px solid var(--light-grey);

    display: flex;
    align-items: center;
    justify-content: center;
}

.players-container {
    padding: 10px;
    border: 2px solid var(--light-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(150, 40, 40, 0.85);
}

/* ! BUBBLY BUTTON  */
  
  .bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    appearance: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  .bubbly-button:before {
    display: none;
    top: -100%;
    background-image: radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0022 20%, transparent 30%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0022 15%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0022 15%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%), radial-gradient(circle, #ff0022 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 50%, 10% 50%, 10% 50%, 15% 50%, 25% 50%, 25% 50%, 40% 50%, 55% 50%, 70% 50%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 50% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 50% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }